WE3DS/
notebooks/segformer-b0-scene-parse-150/
src/segformer-b0-scene-parse-150/
meta/
predictions/
segformer-models-3-patience/
segformer-models-5-patience/
upernet-swin-models-3-patience/
upernet-swin-models-5-patience/
confusion_matrices/
model_performance_plots/
trained_models_master_thesis.zip
**/__pycache__/